rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /subfapps/{subfappId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.createdBy;
      
      // Add index for slug field
      allow list: if true;
      
      match /members/{memberId} {
        allow read: if true;
        allow write: if request.auth != null;
      }
    }
  }
} 